@import "_typo";

body {
  margin: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    margin: 0;
  }
}
.img {
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 43vh;
  margin-top: 40px;
}

/* navbar */

.container {
  width: 960px;
  margin: 0 auto;
}

.navbar {
  border: 1.5px solid #e6e6e6;
}

.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.navbar_links a {
  padding-right: 40px;
}

.navbar_links li:hover {
  color: #00a4e5;
}

.navbar_links {
  display: flex;
}

/* first-section */

.first-section {
  margin-bottom: 119px;
}

.first-section_content h5 {
  margin-bottom: 30px;
}

.first-section .text-underline {
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.text-underline {
  display: flex;
  flex-direction: column;
}

.text-underline h3 {
  margin-bottom: 10px;
}

.content-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.first-section_cards img {
  margin-right: 20px;
}

/* second-section */

button {
  background-color: #00a4e5;
  padding: 11px 30px;
  border-style: none;
}

.second-section .text-underline {
  align-items: flex-start;
}

.second-section_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.second-section_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-section_card {
  border: 1px solid#e6e6e6;
  padding: 38px 23px;
}

.second-section {
  margin-bottom: 115px;
}

.second-section_card img {
  margin-bottom: 25px;
}

.second-section_card h4 {
  margin-bottom: 13px;
}

/* third-section */

.third-section {
  background-image: url(../img/bg\(1\).jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-section h2 {
  margin-top: 145px;
  margin-bottom: 35px;
}

/* fourth-section */

.fourth-section {
  background-color: #171819;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: 1px solid #979797;
  background: #fff;

  padding: 9px 98px 9px 16px;
}

.fourth-section button {
  padding: 11px 48px;
}

.fourth-section_content {
  padding: 30px 377px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fourth-section_content .h2_big {
  padding-right: 70px;
}

/* footer */

.footer_wrapper {
  background-color: #141a20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 250px 39px 350px;
  /*  простите пожалуйста, мне очень стыдно */
}

.footer-logo p {
  padding-bottom: 17px;
  padding-top: 15px;
}

.footer-link ul {
  margin: 0;
  padding-left: 0px;
}

.footer-link p {
  margin-bottom: 12px;
}

.contact-number {
  padding-top: 12px;
  padding-bottom: 12px;
}
.footer-link li {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.link-img img {
  padding-right: 25px;
}

/* сopyright */

.copyright {
  background-color: #171819;
  padding: 20px 582px;
  display: flex;
  justify-content: center;
}
